</head>

<body >

 <nav>
        <div class="navbar2">
            <a href="/">
            <img src="/Images/Logo.png" alt="" style="height: 70px; " class="ml-3 m-1"></a>
            <div class="navbar-btn">
                <div id="togglebtn" class="mr-5 mt-3 ">
                    <% if(!currentUser){%>
                    <i class="fa fa-location-arrow " style="font-size:2rem; color:white;"></i>
                     <% } else { %>
                         <i class="fa fa-location-arrow " style="font-size:2rem; color:red;"></i>

                         <% } %>
                </div>
            </div>
           <div class="navbar1 navbar-hide " id="navbar-hide">

                <div class="register_page text-center">
                    <div class=" mt-5 mb-1">
                        <img src="/Images/Logo.png" alt="" style="height: 70px;" >
                    </div>
                    <div class="container">


                    <% if(!currentUser){%>
                   <a href="/register" class="btn btn-success  m-2"> SignUp</a><br>

                   <a href="/login" class="btn btn-info m-2 ">Login</a>
                   <br>
                   <% } else { %>
                   <span class="btn btn-info  text-capitalize m-2"><%= currentUser.username %></span>
                   <br>
                      <a class="btn btn-danger  m-2" href="/logout">Logout</a>
                      <br>
                    <% } %>
                    </div>
                </div>
                <button id="cancel" class="btn-danger btn mt-3 p-1" onclick="cancelfun()"><i class="fa fa-remove"></i>Cancel</button>
            </div>
        </div>
    </nav>
