</head>

<body >

 <nav>
        <div class="navbar2">
            <a href="/">
            <img src="/Images/Logo.png" alt="" style="height: 70px; " class="ml-3 m-1"></a>
            <div class="navbar-btn">
                <div id="togglebtn" class="mr-5 mt-3 ">
                    <% if(!currentUser){%>
                    <i class="fa fa-location-arrow " style="font-size:2rem; color:white;"></i>
                     <% } else { %>
                         <i class="fa fa-location-arrow " style="font-size:2rem; color:red;"></i>
                  <% } %>
                </div>
            </div>
           <div class="navbar1 navbar-hide " id="navbar-hide">

                <div class="register_page text-center">

                        <img src="/Images/Logo.png" class=" mt-3 mb-1" alt="" style="height: 70px;" >
                        <!-- <button id="cancel" class="float-right mr-5 mt-3  " onclick="cancelfun()"><i class="fa fa-times-circle"></i></button> %>
-->
                    <div class="container">


                        <% if(!currentUser){%>


                       <a href="/login" class="btn btn-success  m-1">Login / SingUp</a>
                       <br>
                       <% } else { %>
                       <a href="/userProfile/show/<%= currentUser.id %>" class="btn btn-info  text-capitalize my-2"><%= currentUser.username %></a>
                       <br>
                          <a class="btn btn-danger  m-1" href="/logout">Logout</a>
                          <br>
                        <% } %>

                        <div class="m-3 text-center">
                            <a href="projects" class="btn btn-info m-1">View All Projects</a>
                            <a href="projects/new" class="btn btn-success m-1">Post Project</a>
                        </div>
                        <div class="m-3 text-center">
                            <a href="events" class="btn btn-info m-1">View All Events</a>
                            <a href="events/new" class="btn btn-success m-1">Submit an Event</a>
                        </div>
                        </div>
                </div>
                <button id="cancel" class="btn-danger btn mt-3 p-1" onclick="cancelfun()"><i class="fa fa-remove"></i>Cancel</button>
            </div>
        </div>
    </nav>
