<% include partials/header %>
<link rel="stylesheet" href="/StyleSheets/description.css">

	<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
	<% include partials/landing-navbar %>


<section id="kk-first" style="margin-top:5rem">
	<div class="container-fluid">
		<div class="row kk-first-row justify-content-center ">
			<!-- <div class="col-md-4 col-sm-4">
				<div class="kk-first-left">
					<img src="https://braintrainconfidence.coachesconsole.com/v2/uploads/userfiles/13226/4stages_learning.png" alt="first_image">
				</div>
			</div> -->
			<div class="col-md-10 col-sm-10 ">
				<div class="kk-first-right">
					<h2>1. LEARN A PROGRAMMING LANGUAGE <small>(Average Required Time : 4 Weeks)</small></h2>

					<p class="kk-first-statement">The first and most important thing to get started is to learn how to code. For this we suggest the students to begin with any programming language of their choice. <br>
					However, we would recommend them to begin with C++ ( as it is the industry standard & the best language for competitive coding as well). The second choice would be to start with Java( since it is also on Object Oriented language like C++ but it also offers the students the advantage of getting started with Android Development quite early).<br>
					Third choice of language will be Python.</p>
					<p class="kk-first-list-style">--Pros--</p>
					<div class="kk-first-list-number">
						<p class="kk-first-list-number-first"><strong>1.</strong> Simple syntax hence easy to learn.</p>
						<p class="kk-first-list-number-second"><strong>2.</strong> Object Oriented like the above 2 languages.</p>
						<p class="kk-first-list-number-third"><strong>3.</strong> Like Java is to android, Python is to Web Development. Students will be easily able to begin with Web Development using any Python framework.</p>
					</div>
					<p>Apart from that it is easier to write web apps and system programs in Python than any other languages.</p>
					<p style="text-align: center;"><em>"Hence the choice of language is entirely upto the students. However we would still recommend to learn all the syntax of all the three and master at least one of these."</em></p>

				</div>
			</div>
		</div>
	</div>

</section>

<section class="kk-second">
	<div class="container-fluid">
		<div class="row kk-second-row text-center justify-content-center">
			<div class="col-md-10 col-sm-10 ">
				<div class="kk-second-container">
					<h3>First Quote</h3>
					<p style="font-size: 17px;"><em>Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all, love of what you are doing or learning to do.</em></p>
					<p class="kk-person">
						~~Pele
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<br>
<section class="kk-third">
	<div class="container-fluid">
		<div class="row kk-third-row">
			<div class="col-md-12 col-sm-12">
				<div class="kk-third-left">
					<h2>Books and Content</h2>
					<p>STUDENTS WITH PRIOR PROGRAMMING EXPERIENCE CAN DIRECTLY FOLLOW THESE REFERENCES  AND THE BEGINNERS SHALL FOLLOW SUMITA ARORA AND ALSO MUST PRACTICE THE PROGRAMMING PROBLEMS GIVEN IN THE BOOK</p>
					<p>Continue with the language that you already know. (It would mostly be C++.)</p>
					<ul>
						<li>
							RECOMMENDED BOOKS FOR C++ :
							<ul>
								<li>
									C++ : The Complete Reference By Herbert Schildt( for the details of the language )
								</li>
								<li>
									Effective C++ By Addison Wesley ( For best Practices )
								</li>
							</ul>
						</li>
						<li>
							RECOMMENDED BOOKS FOR JAVA :
							<ul>
								<li>
									Java The Complete Reference
								</li>
								<li>
									Head First Java
								</li>
							</ul>
						</li>
						<li>
							RECOMMENDED BOOKS  FOR PYTHON :
							<ul>
								<li>
									How to think like Computer Scientist ( Strictly for learning the Python language from basics , Beginner Level )
								</li>
							</ul>
						</li>
					</ul>
					<p><em>"Apart from books we would highly recommend you to join any MOOC series on Udacity, Courseera, EdX or simply follow the tutorials of thenewboston on youtube."</em></p>
				</div>
			</div>
			<!-- <div class="col-md-4 col-sm-4">
				<div class="kk-third-right">
					<img src="http://citt.ufl.edu/wp-content/uploads/2017/06/4stagelearning.jpg" alt="third_image">
				</div>
			</div> -->
		</div>
	</div>
</section>
<br>
<section class="kk-fourth">
	<div class="container-fluid">
		<div class="row kk-fourth-row text-center justify-content-center">
			<div class="col-md-10 col-sm-10 ">
				<div class="kk-fourth-container">
					<h2>Second Quote</h2>
					<p><em>"You don't learn to walk by following rules. You learn by doing, and by falling over."</em></p>
					<p class="kk-person">
						~~Richard Branson
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="kk-fifth">
	<div class="container-fluid">
		<div class="row kk-fifth-row justify-content-center text-center">
			<!-- <div class="col-md-4 col-sm-4">
				<div class="kk-fifth-left">
					<img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=350" alt="fifth_image">
				</div>
			</div> -->
			<div class="col-md-10 col-sm-10">
				<div class="kk-fifth-right">
					<h2>Third Stage</h2>
					<p>PRACTICE PROGRAMMING AND GET FAMILIAR WITH COMPETITIVE CODING  ( No Upper Time limit, the more you practice the better you become. However a minimum of 3* star rating on Codechef shall be a target for everyone )</p>
					<p>Learning a language is one thing and being able to crack down coding problems is another. Practice is the key to improvement. The more you practice the better you'll become at this skill.</p>
					<p>Once you are done with the basics of the language, the next step is to register yourself on USACO's website ( www.usaco.org ). This website is one of the best places on the internet to get started with competitive coding since the training is sequenced and you can proceed in a very structured manner and that too on your own pace. The USACO's training pages will provide you tutorials, tasks and solutions.</p>
					<p>However you are in no way limited to this website only. We encourage you to join other websites like Codechef, SPOJ etc.</p>
					<ul>
						<li><strong>CodeChef</strong> : Good place to take part in live monthly challenges and compete with the best of the minds in your college and the world.</li>
						<li><strong>SPOJ</strong> : It has a huge number of quality problems that are easy to understand and challenging to solve. A good place to practice.</li>
					</ul>
					<p>Apart from these there are other good websites also like Hackerrank, Hackerearth, Codeforces, TopCoder etc. Each with a unique UI  and different set of features. However, these are for the advanced level coders so it is advisable to join these once you are BORED ( read Comfortable ) with the above mentioned sites.</p>
					<h4>LEVEL OBJECTIVES :</h4>
					<ol type="1">
						<li>To master at least one Programming Language.</li>
						<li>To learn the syntax of the other two languages.</li>
						<li>Mastering the art of approaching the solutions of competitive problems from contests and code them in any language of choice.</li>
					</ol>

				</div>
			</div>
		</div>
	</div>

</section>

<section class="kk-sixth">
	<div class="container-fluid">
		<div class="row kk-sixth-row text-center justify-content-center">
			<div class="col-md-10 col-sm-10 ">
				<div class="kk-sixth-container">
					<h2>Third Quote</h2>
					<p><em>"I hope that in this year to come, you make mistakes. Because if you are making mistakes, then you are making new things, trying new things, learning, living, pushing yourself, changing yourself, changing your world. You're doing things you've never done before, and more importantly, you're doing something."</em></p>
					<p class="kk-person">
						~~Neil Gaiman
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="justify-content-center">
	Made with <strong><span>KeyBoard</span></strong> by AlphaBit

</footer>







<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>

	window.sr = ScrollReveal();
	// sr.reveal('.kk-first-left',{
	// 	duration: 2000,
	// 	origin: 'left',
	// 	distance: '200px'
	// });
	sr.reveal('.kk-first-right',{
		duration: 1000,
		origin: 'top',
		distance: '200px',
		delay: 100
	});
	sr.reveal('.kk-first-statement',{
		duration: 1000,
		origin: 'right',
		distance: '100px',
		delay: 600
	});
	sr.reveal('.kk-first-list-style',{
		duration: 2000,
		origin: 'left',
		distance: '300px'
	});
	sr.reveal('.kk-first-list-number',{
		duration: 1000,
		origin: 'right',
		distance: '100px'
	});
	sr.reveal('.kk-first-list-number-first',{
		duration: 1000,
		origin: 'left',
		distance: '200px',
		delay: 1000
	});
	sr.reveal('.kk-first-list-number-second',{
		duration: 1000,
		origin: 'left',
		distance: '200px',
		delay: 2000
	});
	sr.reveal('.kk-first-list-number-third',{
		duration: 1000,
		origin: 'left',
		distance: '300px',
		delay: 3000
	});
	sr.reveal('.kk-second-container',{
		duration: 2000,
		origin: 'right',
		distance: '100px',
		delay: 100
	});
	sr.reveal('.kk-person',{
		duration: 3000,
		origin: 'left',
		distance: '500px',
		delay: 100,
		opacity: 0.5
	});
	sr.reveal('.kk-third-left',{
		duration: 1000,
		origin: 'left',
		distance: '100px',
		opacity: 0.6
	});
	sr.reveal('.kk-third-right',{
		duration: 2000,
		origin: 'bottom',
		distance: '300px',
		delay: 100
	});
	sr.reveal('.kk-fourth-container',{
		duration: 2000,
		origin: 'bottom',
		distance: '400px'
	});
	sr.reveal('.kk-fifth-left',{
		duration: 2000,
		origin: 'right',
		distance: '200px'
	});
	sr.reveal('.kk-fifth-right',{
		duration: 3000,
		origin: 'right',
		distance: '400px',
		delay: 100
	});
	sr.reveal('.kk-sixth-container',{
		duration: 1500,
		origin: 'top',
		distance: '400px'
	});


</script>
<script>
    $(function() {
      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
    </script>

<script type="text/javascript" src="/JavaScript/home.js"></script>


</body>
</html>
