<% include partials/header %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-3 ">
                <select class="btn btn-info form-control text-center">
                    <option>All</option>
                    <option>1st Sem</option>
                    <option>2nd Sem</option>
                    <option>3rd Sem</option>
                    <option>4th Sem</option>
                    <option>5th Sem</option>
                    <option>6th Sem</option>
                    <option>7th Sem</option>
                    <option>8th Sem</option>
                </select>
                <br>
            </div>
            <div class="col-lg-9">
                this is msgs Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui deserunt mollit anim id est laborum.
                <form method="" action="POST" class="m-5">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Your Comment</span>
                        </div>
                        <input id="msg" type="text" class="form-control" name="ques[body]" placeholder="Additional Info">
                    </div>
                    <button class="btn btn-success mt-3 text-center">Submit</button>
                </form>
            </div>
        </div>
    </div>