<% include ../partials/header %>
    <% include ../partials/landing-navbar %>
        <div id="wrapper">
            <div class="section ">
              <div class="text-center" style="color:white; font-size:2rem; margin: auto; margin-top:5rem;">
                All Projects
              </div>
                <div class="row mt-3">
                    <% Projects.forEach(function(project) { %>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4 mt-3">
                            <div class="card" class="">
                                <div class="card-body">
                                    <h5 class="card-title"><%= project.title%></h5>
                                    <h6 class="card-subtitle mb-2 text-muted">By <%= project.author.username%></h6>
                                    <p class="card-text">
                                        <%= project.shortDesc %>
                                    </p>
                                    <a href="/projects/<%= project._id %>" class="card-link btn btn-info">View</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                        <% });%>
                </div>
            </div>
        </div>
      <% include ../partials/footer %>
