<% include ../partials/header %>
    <% include ../partials/landing-navbar %>
        <div id="wrapper">
            <div class="section ">
                <div class="container">
                    <h2> This is motherFucker going to be the profile section</h2>

                </div>
            </div>
        </div>
<% include ../partials/footer %>
